
	<div class="row">
		<div class="col">
			<h1 class='text-center text-info'>Événements</h1>
		</div>
	</div>
	<div class="row justify-content-center" ng-controller="CtrlEvenement">
		<div class="col-11">
			<table class="table ">
				<thead class="thead-dark">
					<tr>
						<th>Evènement</th>
						<th>Nom</th>
						<th>Lieu</th>
						<th>Date</th>
						<th>Participants</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
				<tr ng-repeat=" event in events">
					<td>{{ event.acronyme }}</td>
					<td>{{ event.nomE }}</td>
					<td>{{ event.lieu }}</td>
					<td>{{ event.dateE | date : "dd/MM/yyyy" : "DD/MM/YYYY" }}</td>
					<td>{{ event.nbMaxParticipants }}</td>
					<td>
						<button class="btn btn-light col-3" ng-click="" title="S'inscrire"><img src="icons/icons8-eye-20.png"/></button>
						<button class="btn btn-light col-3" ng-click="consulterEvenement(event.idE)" title="S'inscrire"><img src="icons/icons8-plus-math-20.png"/></button>
						<button class="btn btn-light col-3" ng-click="supprimer(event.idE)" title="Supprimer"><img src="icons/icons8-delete-20.png"/></button>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row justify-content-center">
		<div>
			<a  href ui-sref="evenementsCrea" ui-sref-active="active"><input type="button" class="btn btn-info col-12" value="Ajouter un évènement"></a>
		</div>
	</div>
