<div class="row">
    <div class="col">
        <h1 class='text-center text-success'>Création d'évenement</h1>
    </div>
</div>

<div class="row justify-content-center " ng-controller="evenementsCreaCtrl">
					<div class="col-sm-12 col-md-6">
						<form name='creationEventForm' ng-submit="creerEvent()"> 
							<div class="form-group">
								<label for="acronyme">Acronyme</label>
								<input type="text" class="form-control" name="acronyme" id="acronyme" placeholder="Saisissez l'acronyme" required tabindex="1" ng-model='Evenement.acronyme'>
							</div>
							<div class="form-group">
								<label for="nom">Nom</label>
								<input type="text" class="form-control" name="nom" id="nom" placeholder="Saisissez le nom" required tabindex="1" ng-model='Evenement.nom'>
							</div>
							<div class="form-group">
								<label for="lieu">Lieu</label>
								<input type="text" class="form-control" name="lieu" id="lieu" placeholder="Saisissez le lieu" required tabindex="1" ng-model='Evenement.lieu'>
							</div>
							<div class="form-group">
								<label for="description">Description</label>
								<input type="text" class="form-control" name="description" id="description" placeholder="Saisissez la description" required tabindex="1" ng-model='Evenement.description'>
							</div>
							
					</div>
					<div class="col-sm-12 col-md-6">
							<div class="form-group">
								<label for="dateOuv">Date d'ouverture</label>
								<input type="date" class="form-control" name="dateOuv" id="dateOuv" placeholder="Saisissez la date d'ouverture" required tabindex="1" ng-model='Evenement.dateOuv'>
							</div>
							<div class="form-group">
								<label for="dateClot">Date de cloture</label>
								<input type="date" class="form-control" name="dateClot" id="dateClot" placeholder="Saisissez la date de cloture" required tabindex="1" ng-model='Evenement.dateClot'>
							</div>
							<div class="form-group">
								<label for="nbreMaxP">Capacité maximale</label>
								<input type="number" class="form-control" name="nbreMaxP" id="nbreMaxP" placeholder="Saisissez le nombre maximum de parsonnes" required tabindex="1" ng-model='Evenement.nbreMaxP'>
							</div>
							<button type="submit" class="btn btn-success">Créer</button>
						</form>
						<div ng-if="traitement.termine" class='mt-2'>
							<div ng-if="!traitement.erreur" class="alert alert-success" role="alert">
								L'évenement a correctement été créé.
							</div>
							<div ng-if="traitement.erreur" class="alert alert-danger" role="alert">
								{{traitement.erreur}}
							</div>
						</div>
					</div>
				</div>
   


